// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: (
  50: #e7ebef,
  100: #c2cdd8,
  200: #9aacbe,
  300: #718aa3,
  400: #527190,
  500: #34587c,
  600: #2f5074,
  700: #274769,
  800: #213d5f,
  900: #152d4c,
  A100: #88b8ff,
  A200: #5599ff,
  A400: #227aff,
  A700: #086bff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$custom-accent: (
  50: #f0f6fd,
  100: #dae9fa,
  200: #c1dbf7,
  300: #a8ccf4,
  400: #96c1f1,
  500: #83b6ef,
  600: #7bafed,
  700: #70a6eb,
  800: #669ee8,
  900: #538ee4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #deebff,
  A700: #c4dcff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white
  )
);

$custom-primary: mat-palette($custom-primary);
$custom-accent: mat-palette($custom-accent, 500, 900, A100);

// The warn palette is optional (defaults to red).
$custom-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-theme);

// Overwrite Material's base typography
// https://material.angular.io/guide/typography#customization
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, Roboto, Helvetica Neue, sans-serif'
);

@include angular-material-typography($custom-typography);
